.header {
  margin-bottom: 2rem;
}

.header ul {
  display: flex;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.header ul li {
  margin-right: 1rem;
  background-color: #eee;
  font-size: 1.25rem;
}

.link {
  display: block;
  text-decoration: none;
  padding: .75rem 1rem;
  color: #222;
  border-radius: 5px;

}

:global(.active),
.link:hover {
  background-color: #ffdb8d;
}